body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 5rem;
  background-color: #040622;
  color: #ffff;
}
#projects {
  background-color: #040622;
}

#contact {
  background-color: #26236b;
}

footer {
  color: #ffff;
  text-align: center;
  background-color: black;
  padding: 1rem;
}
